// Media Queries
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Note: The best way to structure the use of media queries is to create the queries
// near the relevant code. For example, if you wanted to change the styles for buttons
// on small devices, paste the mobile query code up in the buttons section and style it
// there.

.homepageMarginFix
{
  margin-left:0;
}

.hideOnMobile
{
  display:none;  
}

// Larger than mobile
@media (#{$bp-larger-than-mobile}) {}

// Larger than phablet (also point when grid becomes active)
@media (#{$bp-larger-than-phablet}) {

.homepageMarginFix
{
  margin-left:8%;
}

.hideOnMobile
{
  display:inherit;
}

}

// Larger than tablet
@media (#{$bp-larger-than-tablet}) {
	
.mobile,.mobileDropDown {
    display:none;
  }
  .homeWrapper
  {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }

}

// Larger than desktop
@media (#{$bp-larger-than-desktop}) {}

// Larger than Desktop HD
@media (#{$bp-larger-than-desktophd}) {}

@media (max-width: 750px) {
/* for mobile */

  .navbar,.hideOnMobile,
  {
    display:none;
  }

  .homeWrapper
  {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }
}

.mobileClear {
  
  margin-bottom:15px;

}