<h3 class="pageTitle">About<span class="thin"> me</span></h3>

<p>I'm a web developer working at Monotype on the MyFonts team; I develop and fix features for the website and support the customer service team with any issues that arise. I love to learn new programming languages and to apply what I learn to my own projects. My hobbies, besides programming, include snowboarding, guitar, videogames, and aerial photography with light drones.</p>

<div class="hideOnMobile">
<table class="u-full-width">
  <tbody>
    <tr>
      <th>HTML/CSS</th>
      <td>Bootstrap</td>
      <td>SASS</td>
    </tr>
    <tr>
    	<th>Javascript</th>
    	<td>jQuery</td>
    	<td>Angular (1 &amp; 2)</td>
    </tr>
    <tr>
    	<td>&nbsp;</td>
    	<td>React</td>
    	<td>Backbone</td>
    </tr>
    <tr>
    	<th>PHP/MySQL</th>
    	<td>PHPUnit</td>
    	<td>Smarty</td>
    </tr>
    <tr>
    	<td>&nbsp;</td>
    	<td>Symfony</td>
    	<td>Laravel</td>
    </tr>
    <tr>
        <th>Others</th>
        <td>Redis</td>
        <td>Python</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>C/C++</td>
        <td>C#</td>
    </tr>
  </tbody>
</table>

<div class="row">
		<div class="four columns">&nbsp;</div>
		<div class="four columns">
			<a class="button" ng-href="/data/My_Resume.pdf" target="_blank">Download Resume</a>
		</div>
		<div class="four columns">&nbsp;</div>
	</div>

</div>
<div class="mobileClear">&nbsp;&nbsp;</div>