<div class="homeWrapper u-max-full-width">
	<div class="row">

		<div class="twelve columns">
			<h1 class="homeTitle">
				<span class="thin">mark</span> Berube
			</h1>
		</div>
	</div>

	<div class="row hideOnMobile">

		<div class="twelve columns bgHighlight">&nbsp;</div>

	</div>

	<div class="row homepageMarginFix">
		<div class="three columns homeTitle"><h6><a class="frontLink" href="about">about</a></h6></div>
		<div class="four columns homeTitle"><h6><a class="frontLink" href="projects">projects</a></h6></div>
		<div class="three columns homeTitle"><h6><a class="frontLink" href="contact">contact</a></h6></div>


	</div>
	<div class="mobileClear">&nbsp;</div>


</div>